{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Points</th>
                <td>{{ user.points }}</td>
            </tr>
            <tr>
                <th>GoldenTickets</th>
                <td>{{ user.goldenTickets }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">back to list</a>
    <button type="button" class="btn btn-primary btn-checkpoint4" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add points for this user ?
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add points </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure u want to add some points to this guy {{ user.email }} ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a style="text-decoration: none;" class="text-light"
                       href="{{ path('app_add_points', { id : user.id}) }}">
                        <button type="button" class="btn btn-secondary" >Yes !</button></a>
                </div>
            </div>
        </div>
    </div>

{#    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>#}

{#    {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
